.blog{

 
    .first-page{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100vh;
        img{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: -2;
            object-fit: cover;
        }
        &-box{
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            &-2{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
             
                background-color: $banner_bg_color;
                padding: 1vw;
              
                svg{
                    transform: translateX(-6px);
                    rect{
                        transform-box: fill-box;
                        transform-origin: center;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &-title{
            position: relative;
            width: 30vw;
            z-index: 11;
            margin: 0vw 10vw 3vw;

          p{
            line-height: 40px;
            letter-spacing: 0.2vw;
          }
          svg{
               
            position: absolute;
            left: -120px;
            top: -130px;
            .g1{
                transform-box: fill-box;
                transform-origin: center;
                animation: rotate 10s linear 1.5s infinite;
                .square1{
                 
                    transform-box: fill-box;
                    transform-origin: center;
                    transform: rotate(43deg);
                    }
            }
            .g2{
                transform-box: fill-box;
                transform-origin: center;
                animation: rotate 10s linear 1.5s infinite;
                .square2{
                   
                    transform-box: fill-box;
                    transform-origin: center;
                    transform: rotate(56deg);
                    }
            }
   
        }
        }
        &-shadow{
            position: fixed;
            width: 100%;
            height: 20vw;
            background-image: linear-gradient(180deg,transparent 0% ,rgba(0, 0, 0, 0.015) 3% , rgba(0, 0, 0, 0.055) 5%, rgba(0, 0, 0, 0.805) 100%);
            bottom: 0;
            left: 0;
            z-index: 10;
        }
    }
    .second-page{
        width: 100%;
        height: 100vh;
        padding:5vw 14vw;
        &-top{
            display: flex;
            align-items: center;
            width: 100%;
            height: 10%;
            margin: 3vw 0 6vw;
            nav{
                width: 100%;
             
                height: 100%;
                border-top: 1px solid $gold_color;
                border-bottom: 1px solid $gold_color;
                padding: 0.1vw 0;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid #dcb1785b;
                    border-bottom: 1px solid #dcb1785b;
                    width: 100%;
                    height: 100%;
                    padding: 1.3vw 0;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .menu_font{
                            position: relative;
                            font-size: 16px;
                            letter-spacing: 4px;
                            color: $gold_color;
                            cursor: pointer;
                            z-index: 10;
                            &::after{
                                content: "";
                                display: block;
                                position: absolute;
                                width: 0;
                                height: 1px;
                                background-color: $gold_color;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                bottom: 0;
                                transition: 0.5s;
                            }
                            &:hover::after{
                                width: 100%;
                            }
                          }
                        img{
                          
                            margin: 1vw;
                            transform: scale(0.4);
                            width:3%;
                            height: fit-content;
                        }
                    }
                }
            }
        }
        &-bottom{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 90%;
            position: relative;
            > a{
                z-index: 10;
                width: 50%;
                height: fit-content;
                img{
                    cursor: pointer;
                    border-radius: 40px 0 40px 0;
                    width: 100%;
                    height: fit-content;
                    object-fit: contain;
                    z-index: 10;
                }
            }
           
            &-right{
                position: absolute;
                width: 50vw;
                height: 27vw;
                left: 31.5%;
                top: -2vw;
                
                .lineBox{
                    display: flex;
                   
                   
              
                    width: 100%;
                    height: 100%;
                  
                    > svg{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
                &-para{
                    display: flex;
                    flex: 1 0 100%;
                    margin-left: 10%;
                    flex-direction: column;
                    
                    align-items: center;
                    justify-content: center;
            
                    > svg{
                        position: relative;
                        width: 100%;
                        height: 10%;
                        margin-right: 8px;
                        margin-bottom: 1vw;
                    
                    }
                    > p{
                       
                        width:19vw;
                  
                    }
                    a{
                        margin-top: 5vw;
                    }
                    .readmore{
                        cursor: pointer;
                        display: flex;
                        width: 23.7vw;
                        justify-content: center;
                        z-index: 10;
                        
                        &-box{
                            display: flex;
                            svg{
                                margin: 0;
                                overflow-x: hidden;
                            }
                            h3{
                         
                                line-height: 65px;
                                margin-left: 0.8vw;
                            }
                        }
                     
                        p{
                            line-height: 65px;
                            margin-right: 0.8vw;
                        }
                      
                       
                    }
                }
              
            }
        }
    }
    .third-page{
        width: 100%;
        height: 150vh;
        padding:3vw 14vw 0vw;
        &-box{
            display: flex;
          
            width: 100%;
            height: 22vw;
            padding: 4vw 0 4vw;
            border-bottom: 1px solid $gold_color_opacity;
            &-left{
                margin-right: 5vw;
                width: 22vw;
                height: 13vw;
                img{
                    cursor: pointer;
                    border-radius: 40px 0 40px 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-right{
                width: 70%;
                height: 13vw;
                > h3{
                    margin-bottom: 2vw;
                    height: 30px;
                }
                > p{
                    height: 20%;
                }
                .box{
                    display: flex;
                   width: 100%;
                   height: 60%;
                   justify-content: flex-end;
                   align-items: flex-end;
                   .readmore{
                    display: flex;
                    width: fit-content;
                    height: 3.5vw;
           
         
                    p,h3{
                        color: $gold_color;
                        height: fit-content;
                        line-height: 75px;
                    }
                    svg{
                        height: fit-content;
                        transform: scale(0.8);
                        margin: 0 0.5vw ;
                    }
                   }
               
                   
                }
            }
      
           
        }
        
    }



}
.hover-light{
    width: 100%;
    position: fixed;
    height: 100vh;
    background: transparent;
    z-index: -1;
}

@media all and (max-width:1440px){
    .blog{
        .first-page{
            &-title{
                position: relative;
                width: 45vw;
                z-index: 11;
                margin: 0vw 10vw 4vw;
    
              p{
                line-height: 2.8vw;
                letter-spacing: 0.2vw;
              }
         
            }
      
        }
        .second-page{
            width: 100%;
            height: 60vw;
            padding:2vw 14vw;
            &-top{
                display: flex;
                align-items: center;
                width: 100%;
                height: 10%;
                margin: 3vw 0 6vw;
                nav{
                    width: 100%;
                 
                    height: 100%;
                    border-top: 1px solid $gold_color;
                    border-bottom: 1px solid $gold_color;
                    padding: 0.1vw 0;
                    ul{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top: 1px solid #dcb1785b;
                        border-bottom: 1px solid #dcb1785b;
                        width: 100%;
                        height: 100%;
                        padding: 1.3vw 0;
                        li{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .menu_font{
                                position: relative;
                                font-size: 16px;
                                letter-spacing: 4px;
                                color: $gold_color;
                                cursor: pointer;
                                z-index: 10;
                                &::after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    width: 0;
                                    height: 1px;
                                    background-color: $gold_color;
                                    left: 0;
                                    right: 0;
                                    margin: 0 auto;
                                    bottom: 0;
                                    transition: 0.5s;
                                }
                                &:hover::after{
                                    width: 100%;
                                }
                              }
                            img{
                              
                                margin: 1vw;
                                transform: scale(0.4);
                                width:3%;
                                height: fit-content;
                            }
                        }
                    }
                }
            }
            &-bottom{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 90%;
                position: relative;
                img{
                    cursor: pointer;
                    border-radius: 40px 0 40px 0;
                    width: 50%;
                    height: fit-content;
                    object-fit: contain;
                    margin-top: 8vw;
                    z-index: 10;
                }
                &-right{
                    position: absolute;
                    margin-top: 8vw;
                    
                    .lineBox{
                        display: flex;
                        justify-content: flex-end;
                        position: relative;
                        width: 50vw;
                        height: 27vw;
                        > svg{
                            left: 0;
                            top: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    a{
                        margin-top: 1vw;
                    }
                    &-para{
                        
                        flex: 1 1 ;
                        margin-left: 20%;
                        svg{
                            height: 14%;
                        }
                        .readmore{
                            margin-top: -2vw;
                            position: relative;
                            align-items: flex-end;
                            p{
                                margin-right: 2.3vw;
                                position: absolute;
                                order: 3;
                                right: 0;
                                bottom: 0;
                            }
                            &-box{
                                flex: 1 1 30%;
                                svg{
                                
                                    transform: scale(0.75);
                              
                               
                                }
                                h3{
                                    text-align: end;
                                    line-height: 77px;
                                  
                                }
                            }
                         
                        }
                
                    
                    }
                  
                }
            }
        }
        .third-page{
            width: 100%;
            height: 80vw;
            padding:3vw 14vw 0vw;
            &-box{
                display: flex;
                width: 100%;
                padding: 4vw 0 4vw;
                border-bottom: 1px solid $gold_color_opacity;
                &-left{
                    margin-right: 5vw;
      
                    img{
                        cursor: pointer;
                        border-radius: 40px 0 40px 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-right{
                    width: 70%;
                    > h3{
                        margin-bottom: 2vw;
                        height: 30px;
                    }
                    > p{
                        height: 20%;
                    }
                    .box{
                        display: flex;
                       width: 100%;
                       height: 40%;
                       justify-content: flex-end;
                       align-items: flex-end;
                       .readmore{
                        display: flex;
                        width: fit-content;
                        height: 3.5vw;
               
             
                        p,h3{
                            color: $gold_color;
                            height: fit-content;
                            line-height: 75px;
                        }
                        svg{
                            height: fit-content;
                            transform: scale(0.8);
                            margin: 0 0.5vw ;
                        }
                       }
                   
                       
                    }
                }
          
               
            }
            
        }
    
    
    
    }
}