.about1{
    display: flex;
    position: relative;

 
    overflow: hidden;
    .top_logo_div{
        justify-content: flex-start;
        .img_box{
            margin-left: 5vw;
            img{
                width: 14vw;
            }
        }
    }
    &-left{
        flex: 0 0 90%;
        position: relative;
        filter: brightness(0.5);
        transition: all 0.5s;
        &-para{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 21vw;
            align-items: center;
            top: 24vw;
            height: fit-content;
            img{
                width: 4.8vw;
                margin-bottom: 3vw;
            }
            button{
                width:fit-content;
                border: 1.5px solid #fff;
                border-radius: 40px;
                padding: 0.5vw 1.5vw;
                background-color: rgba(0, 0, 0, 0.596);
                color: #fff;
                margin-right: 1vw;
                opacity: 0;
                transition: all 0.5s;
                cursor: pointer;
                pointer-events: none;
                animation: updown 3.5s linear forwards infinite;
                &:hover{
                    animation: none;
                    filter: drop-shadow(0 0 5px #fff);
                }
            }
        }
        &-imgBox{
            width: 100%;
           
            img{
                display: block;
                width: 100%;
                height: 60.4vw;
                object-fit: cover;
                z-index: -1;
                transition:transform 5.5s;
            }
            .line{
                position: absolute;
                z-index: 10;
                left: 0;
                top: 0;
                width: 57.5vw;
                height: fit-content;

                opacity: 0;
                transform: 0.5s;
            }
            &:hover .line{
                opacity: 1;
            }
         
        }
        &:hover{
            filter: brightness(1);
        }
        &:hover button{
            opacity: 1;
        }
        &:hover &-imgBox img{
            transform: scale(1.08);
        }
    }
    &-right{
        z-index: 2;
        position: absolute;
        width: 60vw;
        height: 60.4vw;
        right: 0;
        transition: all 0.5s;
        pointer-events: none;
  
        &-imgBox{
            width: 100%;
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 16.5% 32.4% ,21% 32.3% ,29% 0);
            position: absolute;
            right: 0;
            filter: brightness(0.5);
            transition: all 0.5s;
            pointer-events: auto;
            &:hover{
                filter: brightness(1);
                
            }
             &:hover img{
                transform: scale(1.1);
             }
            img{
                display: block;
                width: 100%;
                height: 60.4vw;
                object-fit: cover;
                transition: 5.5s;
              
            }
            .line{
                position: absolute;
                opacity: 0;
                transform: 0.5s;
                z-index: 10;
                right: 0;
                top: 0;
          
             
            }
            &:hover .line{
                opacity: 1;
            }
        }
        &-para{
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 15vw;
            align-items: center;
            top: 24vw;
            height: fit-content;
      
            img{
                width: 20vw;
                filter: brightness(0.5);
                margin-bottom: 3vw;
            }
            & :nth-child(2){
                width: 4vw;
                height: 4vw;
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 0.7vw;
                opacity: 0;
              
                transition: all 0.5s;
                cursor: pointer;
                animation: updown 3.5s linear forwards infinite;
                &:hover{
                    animation: none;
                    filter: drop-shadow(0 0 5px #fff);
                }
            }
        }
        > img{
            position: absolute;
            top: 19.6vw;
            width:15vw;
            left:0vw;
            pointer-events: none;
        }
        & :nth-child(4){
            top: 0.2vw;
            width: 7vw;
            left:15vw;
        }
        &:hover .start{
            opacity: 1;
        }
   
    }
}


@media all and (max-width:850px){
    .about1{
        display: flex;
        position: relative;
        flex-direction: column;
        height: 150vw;
        overflow: hidden;
        .top_logo_div{
            justify-content: flex-start;
            .img_box{
                margin-left: 5vw;
                img{
                    width: 14vw;
                }
            }
        }
        &-left{
            width: 100%;
            flex: 0 0 50%;
            position: relative;
            filter: brightness(1);
            transition: all 0.5s;
            &-para{
                display: flex;
                width: fit-content;
                flex-direction: column;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                height: fit-content;
                img{
                    width:12vw;
                    margin-bottom: 5vw;
                }
                button{
                    width:fit-content;
                    border: 1.5px solid #fff;
                    border-radius: 40px;
                    padding: 1vw 2.5vw;
                    background-color: rgba(0, 0, 0, 0.596);
                    color: #fff;
                    margin-right: 1vw;
                    opacity: 1;
                    transition: all 0.5s;
                    cursor: pointer;
                    animation: updown 3.5s linear forwards infinite;
                    &:hover{
                        animation: none;
                        filter: drop-shadow(0 0 5px #fff);
                    }
                }
            }
            &-imgBox{
                width: 100%;
               height: 100%;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -1;
                }
          
             
            }
            &:hover &-imgBox img{
                transform:none;
            }
          
        }
        &-right{
            z-index: 2;
            position: relative;
            width: 100%;
            flex: 0 0 50%;
            right: 0;
            transition: all 0.5s;
          
      
            &-imgBox{
                width: 100%;
                clip-path: none;
                position: relative;
                height: 100%;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                }
                &:hover img{
                    width: 100%;
                    height:100%;
                  
                   }
            }
            &-para{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                align-items: center;
                width: fit-content;
                height: fit-content;
          
                img{
                    width: 33vw;
                    margin-bottom: 5vw;
                }
                & :nth-child(2){
                    width: 9vw;
                    height: 9vw;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    padding: 1.2vw;
                    opacity: 0;
                    transition: all 0.5s;
                    cursor: pointer;
                    animation: updown 3.5s linear forwards infinite;
                    &:hover{
                        animation: none;
                        filter: drop-shadow(0 0 5px #fff);
                    }
                }
            }
            > img{
                display: none;
                position: absolute;
                top: 19.6vw;
                width:15vw;
                left:0vw;
            }
            & :nth-child(4){
                display: none;
                top: 0.2vw;
                width: 7vw;
                left:15vw;
            }
            &:hover .start{
                opacity: 1;
            }
           
        }
    }
    @media all and (max-width:500px){
        .about1{
            height: 220vw;
            &-left{
                &-para{
                    img{
                        width: 15vw;
                        margin-bottom: 7vw;
                    }
                    button{
                        animation: updown_ph 3.5s linear forwards infinite;
                    }
                }
            }
            &-right{
                &-para{
                 
                    img{
                        width: 45vw;
                        margin-bottom: 7vw;
                    }
                    & :nth-child(2){
                        width: 12vw;
                        height: 12vw;
                        animation: updown_ph 3.5s linear forwards infinite;
                    }
                }
            }
        }
    }
}