
.stockInner1{
    width: 100%;
    position: relative;
    .top_logo_div{
        justify-content: flex-start;
        .img_box{
            margin-left: 5vw;
            img{
                width: 14vw;
            }
        }
    }
    .swiper{
        width: 100%;
       .swiper-wrapper{
        width: 100%;
            .swiper-slide{
                width: 100%;
                > img{
                    width: 100%;
                    object-fit: cover;
                    height: 68vw;
                }
                .slide-title{
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
             
                    z-index: 20;
                    img{
                        width: 33vw;
                        margin-top: 13vw;
                        height: auto;
                    }
                }
            }
       }
       .swiper-pagination{
            display: flex;
            justify-content: flex-end;
            & :last-child{
                margin-right: 5vw;
            }
            & :not(:last-child){
                margin-right: 0.8vw;
            }
            span{
                margin-bottom: 2vw;
                width:0.7vw;
                height: 0.7vw;
                background-color: #ffffff;
            }
            .swiper-pagination-bullet-active{
                background-color: transparent;
                border: 2px solid #fff;
             
            }
       }
    }
   
}
.stockInner2{
    display: flex;

    &-left{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 0 0 55%;
        position: relative;
        margin-top: -7.8vw;
        z-index: 2;
        &-top{
            display: flex;
            flex-direction: column;
      
            position: relative;
            background-color: #fff;
            width: 70%;
       
            img{
                height: 2.7vw;
            }
            &-title{
                margin: 3vw auto; 
            }
            &-inform{
                display: flex;
                margin-bottom: 1vw;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0 2vw;
                .box{
                    display: flex;
                    justify-content: center;
                    flex: 0 0 40%;
                    margin-bottom: 3vw;
                    .imgBox{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex:0 0 23%;
                        margin-right: 1vw;
                
                        
                    }
                    
                    .para{
                        flex:0 1 60%;
                        
                        p{
                            color: #808080;
                            letter-spacing: 0;
                        }
                        h4{
                            font-weight: 500;
                            line-height: 0.9;
                            span{
                                color: #000;
                            }
                        }
                    }
                }
            }
            &-image{
                margin: 0 0 4vw 3vw;
            }
            > .imgBox{
                position: absolute;
              
                right: -17vw;
                top: 0;
                img{
                    width: 17vw;
                    height: 24vw;
                
                    object-fit: cover;
                }
            }
        }
        &-bottom{
            width: 100%;
            img{
                width: 100%;
                height: 50vw;
                object-fit: cover;
            }
        }
    }
    &-right{
        display: flex;
        flex: 0 0 45%;
        padding-top: calc(24vw - 7.8vw);
        flex-direction: column;
        img{
            width: 100%;
            object-fit: cover;
        }
        & :nth-child(1){
            width: 100%;
            flex: 0 0 60%;
         
        }
        & :nth-child(2){
            width: 100%;
            flex: 0 0 40%;
        }
    }
}
.stockInner3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vw;
    background: url(../img/stockInner/1x/car8.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: flex-start;
    img{
        width: 15vw;
    }
    & :nth-child(1){
        margin-right: -1.7vw;
        margin-top: -0.8vw;
    }
    & :nth-child(2){
        margin-top: -2.5vw;
        width: 38vw;
    }
    & :nth-child(3){
        margin-left: -1.7vw;
        margin-top: -0.7vw;
    }
}
.stockInner4{
    width: 100%;
    margin-bottom: 5vw;
    &-imgBox{
        display: flex;
        background-color: #fff;
        align-items: center;
        width: 100%;
        img{
           flex: 0 0 50%;
           width: 50%;
            object-fit: cover;
            height: 30vw;
        }
    
    }
    & > :nth-child(odd){
        & :nth-child(1){
            object-fit: contain;
            padding: 2vw;
        }
    }
    & > :nth-child(even){
        & :nth-child(2){
            object-fit: contain;
            padding: 2vw;
        }
    }
    & > :nth-child(1){
        img{
            flex: 0 0 100%;
            object-fit: cover;
            height: fit-content;
        }
    }
   

    
}
.stockInner5{
    width: 85%;
    margin: 0 auto 3vw;
    &-title{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 3vw 0;
        h2{
            color: #0080bb;
        }
    }
    .swiper{
        position: relative;
        width: 100%;
        padding-bottom: 10vw;
        .swiper-wrapper{
            .swiper-slide{
                width: 26vw;
                .box{
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    > img{
                        width: 100%;
                     }
                     &-inform{
                        display: flex;
                        justify-content: space-between;
                        width:100%;
                        padding:1vw 0.8vw;
                        background-color: #0080C5;
                       
                        > h2{
                            color: #fff;
                            line-height: 1;
                       
                        }
                        .price{
                            display: flex;
                            flex: 0 1 50%;
                            justify-content: flex-end;
                           
                            img{
                                height: 1.4vw;
                                line-height: 1;
                                margin-top: 0.15vw;
                            }
                            h2{
                                line-height: 1;
                                color: #00FFFF;
                                margin-right: 0.2vw;
                               
                            }
                        }
                    }
                }
              
            }
        }
        .swiper-pagination{
            width: 100%;
            position: relative;
            color: #18567B;
            bottom: -6vw;
            font-size: 0;
            .swiper-pagination-current{
                margin-right: 10vw;
                position: relative;
                &::after{
                    display: block;
                    content: "";
                    position: absolute;
                    width: 8vw;
                    height: 0.5px;
                    background-color: #18577ba2;
                    left: 1.5vw;
                    top: 50%;
                    transform: translateY(-50%);
                   
                }
            }
            .swiper-pagination-total{
                color: #18567B;
            }
            span{
                font-size: 1.2vw;
            }
        }
        .navigate{
            display: flex;
            justify-content: space-between;
            width: 22%;
            margin: 0 auto;
            position: absolute;
            bottom: 4.2vw;
            left: 0;
            right: 0;
            z-index: 20;
            .next{
                display: flex;
                justify-content: center;
                position: relative;
                z-index: 10;
                width: 2vw;
               
                cursor: pointer;
                img{
                    transform: rotateY(180deg);
                    width: 0.7vw;
                    position: absolute;
                    
                }
                &:hover img{
                    filter: brightness(30);
                }
            }
            .prev{
                display: flex;
                justify-content: center;
                
                z-index: 10;
                cursor: pointer;
                width: 2vw;
                img{
                    width: 0.7vw;
                    
                }
                &:hover img{
                    filter: brightness(30);
                }
            }
        }
    }
}
@media all and (max-width:850px){
    .stockInner1{
        width: 100%;
        position: relative;
        height: 175vw;
        .top_logo_div{
            justify-content: flex-end;
            margin-top: 4vw;
            .img_box{
                margin-left: 5vw;
                img{
                    width: 25vw;
                }
            }
        }
        .swiper{
            width: 100%;
            height: 100%;
           .swiper-wrapper{
            width: 100%;
            height: 100%;
                .swiper-slide{
                    width: 100%;
                    height: 100%;
                    > img{
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                    }
                    .slide-title{
                        img{
                            width: 75vw;
                            margin-top:32vw;
                        }
                    }
                }
           }
           .swiper-pagination{
                display: flex;
                justify-content: flex-end;
                bottom:40vw;
                & :last-child{
                    margin-right: 5vw;
                }
                & :not(:last-child){
                    margin-right: 2vw;
                }
                span{
                    margin-bottom: 2vw;
                    width:2vw;
                    height:2vw;
                    background-color: #ffffff;
                }
                .swiper-pagination-bullet-active{
                    background-color: transparent;
                    border: 3px solid #fff;
                 
                }
           }
        }
    
    }
    .stockInner2{
        display: flex;
        flex-direction: column;
        &-left{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex: 0 0 100%;
            width: 100%;
            position: relative;
            margin: -6vw auto 0;
            z-index: 2;
            &-top{
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: #fff;
                width: 80%;
                margin: 0 auto;
                img{
                    height: 6vw;
                    margin-right: 2vw;
                }
                &-title{
                    margin: 5vw auto; 
                }
                &-inform{
                    display: flex;
                    margin-bottom: 4vw;
                    flex-wrap: wrap;
                    padding: 0 6vw;
                    .box{
                        display: flex;
                        justify-content: center;
                        flex: 0 0 50%;
                        margin-bottom:8vw;
                        .imgBox{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex:0 0 23%;
                            margin-right: 1vw;
                    
                            img{
    
                            }
                        }
                        
                        .para{
                            flex:0 1 60%;
                         
                            p{
                                letter-spacing: 0;
                            }
                        }
                    }
                }
                &-image{
                    margin: 0 0 4vw 9vw;
                }
                > .imgBox{
                  display: none;
                  
                }
            }
            &-bottom{
                display: none;
               
            }
        }
        &-right{
            display: flex;
            flex: 0 0 100%;
            padding-top:0;
            flex-direction: column;
            img{
                width: 100%;
                object-fit: cover;
            }
            & :nth-child(1){
                width: 100%;
                flex: 0 0 60%;
             
            }
            & :nth-child(2){
                width: 100%;
                flex: 0 0 40%;
            }
        }
    }
    .stockInner3{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 160vw;
        background: url(../img/stockInner/1x/car8.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        align-items: flex-start;
        img{
            width: 25vw;
        }
        & :nth-child(1){
            margin-right: -2.5vw;
            margin-top: -0.5vw;
        }
        & :nth-child(2){
            margin-top: -3vw;
            width: 55vw;
        }
        & :nth-child(3){
            margin-left: -2.5vw;
            margin-top: -0.5vw;
        }
    }
    .stockInner4{
        width: 100%;
        margin-bottom: 5vw;
        &-imgBox{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            align-items: center;
            width: 100%;
            img{
               flex: 0 0 100%;
               width: 100%;
                object-fit: cover;
           
            }
        
        }
        & > :nth-child(odd){
            & :nth-child(1){
                object-fit: contain;
                padding: 2vw;
                order: 3;
            }
        }
        & > :nth-child(even){
            & :nth-child(2){
                object-fit: contain;
                padding: 2vw;
            }
        }
        & > :nth-child(1){
            img{
                flex: 0 0 100%;
                object-fit: contain;
                height: fit-content;
            }
        }
       
    
        
    }
    .stockInner5{
        width:85%;
        margin: 0 auto 3vw;
        &-title{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 5vw 0;
            .ch_text_l{
                color: #0080bb;
                font-size: 3.5vw;
            }
        }
        .swiper{
            position: relative;
            width: 100%;
            padding-bottom: 10vw;
            .swiper-wrapper{
                .swiper-slide{
                    width:100%;
                    .box{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        
                        > img{
                            width: 100%;
                         }
                         &-inform{
                            display: flex;
                            justify-content: space-between;
                            width:100%;
                            padding:3vw 1.5vw;
                            background-color: #0080C5;
                           
                            > h2{
                                color: #fff;
                                line-height: 1.2;
                           
                            }
                            .price{
                                display: flex;
                                flex: 0 1 50%;
                                justify-content: flex-end;
                               
                                img{
                                    height:4vw;
                                    margin-top: 0vw;
                                }
                                h2{
                                 
                                    color: #00FFFF;
                                    margin-right:1.5vw;
                                   
                                }
                            }
                        }
                    }
                  
                }
            }
            .swiper-pagination{
                width: 100%;
                position: relative;
                color: #18567B;
                bottom: -6vw;
                .swiper-pagination-current{
                    margin-right: 20vw;
                    position: relative;
                    &::after{
                        display: block;
                        content: "";
                        position: absolute;
                        width: 16vw;
                        height: 0.5px;
                        background-color: #18577ba2;
                        left: 3.2vw;
                        top: 50%;
                        transform: translateY(-50%);
                       
                    }
                }
                .swiper-pagination-total{
                    color: #18567B;
                }
                span{
                    font-size: 2vw;
                }
            }
            .navigate{
                display: flex;
                justify-content: space-between;
                width: 40%;
                margin: 0 auto;
                position: absolute;
                bottom: 4.2vw;
                left: 0;
                right: 0;
                z-index: 20;
                .next{
                    display: flex;
                    justify-content: center;
                    position: relative;
                    z-index: 10;
                    width:3.5vw;
                   
                    cursor: pointer;
                    img{
                        transform: rotateY(180deg);
                        width:1.2vw;
                        position: absolute;
                        
                    }
                    &:hover img{
                        filter: brightness(30);
                    }
                }
                .prev{
                    display: flex;
                    justify-content: center;
                    
                    z-index: 10;
                    cursor: pointer;
                    width: 3.5vw;
                    img{
                        width: 1.2vw;
                        
                    }
                    &:hover img{
                        filter: brightness(30);
                    }
                }
            }
        }
    }
    @media all and (max-width:500px){
        .stockInner1{
            width: 100%;
            position: relative;
            height:220vw;
            .top_logo_div{
                justify-content: flex-end;
                .img_box{
                    margin-left: 5vw;
                    img{
                        width: 40vw;
                    }
                }
            }
            .swiper{
                width: 100%;
                height: 100%;
               .swiper-wrapper{
                width: 100%;
                height: 100%;
                    .swiper-slide{
                        width: 100%;
                        height: 100%;
                        > img{
                            width: 100%;
                            object-fit: cover;
                            height: 100%;
                        }
                        .slide-title{
                            img{
                                width: 90vw;
                                margin-top: 42vw;
                            }
                        }
                    }
               }
               .swiper-pagination{
                    display: flex;
                    justify-content: flex-end;
                    bottom:40vw;
                    & :last-child{
                        margin-right: 5vw;
                    }
                    & :not(:last-child){
                        margin-right: 2vw;
                    }
                    span{
                        margin-bottom: 2vw;
                        width:3.5vw;
                        height:3.5vw;
                        background-color: #ffffff;
                    }
                    .swiper-pagination-bullet-active{
                        background-color: transparent;
                        border: 3px solid #fff;
                     
                    }
               }
            }
        
        }
        .stockInner2{
            display: flex;
            flex-direction: column;
            &-left{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                flex: 0 0 100%;
                width: 100%;
                position: relative;
                margin: -6vw auto 0;
                z-index: 2;
                &-top{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    background-color: #fff;
                    width:90%;
                    margin: 0 auto;
                    img{
                        height: 8vw;
                        margin-right: 2vw;
                    }
                    &-title{
                        margin: 10vw auto; 
                        .en_text_l{
                            font-size: 5.5vw;
                        }
                    }
                    &-inform{
                        display: flex;
                        margin-bottom: 0vw;
                        flex-wrap: wrap;
                        padding: 0 6vw;
                        .box{
                            display: flex;
                            justify-content: center;
                            flex: 0 0 50%;
                            margin-bottom:12vw;
                            .imgBox{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex:0 0 23%;
                                margin-right: 1vw;
                        
                                img{
        
                                }
                            }
                            
                            .para{
                                flex:0 1 60%;
                             
                                p{
                                    letter-spacing: 0;
                                }
                            }
                        }
                    }
                    &-image{
                        margin: 0 0 4vw 9vw;
                        img{
                            width: 35%;
                        }
                        & :nth-child(2){
                            width: 25%;
                        }
                    }
                    > .imgBox{
                      display: none;
                      
                    }
                }
                &-bottom{
                    display: none;
                   
                }
            }
            &-right{
                display: flex;
                flex: 0 0 100%;
                padding-top:0;
                flex-direction: column;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                & :nth-child(1){
                    width: 100%;
                    flex: 0 0 60%;
                 
                }
                & :nth-child(2){
                    width: 100%;
                    flex: 0 0 40%;
                }
            }
        }
    
        .stockInner5{
            width:85%;
            margin: 0 auto 3vw;
            &-title{
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 10vw 0;
                .ch_text_l{
                    color: #0080bb;
                    font-size:4.5vw;
                }
            }
            .swiper{
                position: relative;
                width: 100%;
                padding-bottom: 10vw;
                .swiper-wrapper{
                    .swiper-slide{
                        width:100%;
                        .box{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            
                            > img{
                                width: 100%;
                             }
                             &-inform{
                                display: flex;
                                justify-content: space-between;
                                width:100%;
                                padding:3vw 1.5vw;
                                background-color: #0080C5;
                               
                                > h2{
                                    color: #fff;
                                    line-height: 1.2;
                               
                                }
                                .price{
                                    display: flex;
                                    flex: 0 1 50%;
                                    justify-content: flex-end;
                                   
                                    img{
                                        height:4vw;
                                        margin-top: 0vw;
                                    }
                                    h2{
                                     
                                        color: #00FFFF;
                                        margin-right:1.5vw;
                                       
                                    }
                                }
                            }
                        }
                      
                    }
                }
                .swiper-pagination{
                    width: 100%;
                    position: relative;
                    color: #18567B;
                    bottom: -6vw;
                    .swiper-pagination-current{
                        margin-right: 25vw;
                        position: relative;
                        &::after{
                            display: block;
                            content: "";
                            position: absolute;
                            width: 18vw;
                            height: 0.5px;
                            background-color: #18577ba2;
                            left:6vw;
                            top: 50%;
                            transform: translateY(-50%);
                           
                        }
                    }
                    .swiper-pagination-total{
                        color: #18567B;
                    }
                    span{
                        font-size: 3.5vw;
                    }
                }
                .navigate{
                    display: flex;
                    justify-content: space-between;
                    width: 55%;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 4.2vw;
                    left: 0;
                    right: 0;
                    z-index: 20;
                    .next{
                        display: flex;
                        justify-content: center;
                        position: relative;
                        z-index: 10;
                        width:5vw;
                       
                        cursor: pointer;
                        img{
                            transform: rotateY(180deg);
                            width:2vw;
                            position: absolute;
                            
                        }
                        &:hover img{
                            filter: brightness(30);
                        }
                    }
                    .prev{
                        display: flex;
                        justify-content: center;
                        
                        z-index: 10;
                        cursor: pointer;
                        width:5vw;
                        img{
                            width: 2.3vw;
                            
                        }
                        &:hover img{
                            filter: brightness(30);
                        }
                    }
                }
            }
        }
    }
}