
$gray_color: #7d7d7d;
$black_color:#0E121D;
$para_word_family:'Microsoft JhengHei';
$title_word_family:'Noto Serif TC', serif;
$ch_text_xs_color:#363a45;
$blue_color:#224177;
.readmore{
    
    p{
        font-size: 1vw;
        letter-spacing: 0.2vw;
        line-height: 2.8vw;
        color: $gray_color;
    }

}
.word_level{
    .date{
        font-size:1vw;
        letter-spacing: 0.1vw;
        line-height: 2.4vw;
        font-weight: 600;
        font-family: $para_word_family;
        color:$ch_text_xs_color;
    }
    .ch_text_xl{
        font-size: 2.3vw;
        line-height:3vw;
        letter-spacing: 0.35vw;
        color: $black_color;
        font-family: $title_word_family;
    }
    .ch_text_l{
        font-size: 1.8vw;
        letter-spacing:0.25vw;
        font-weight:500;
        font-family: $title_word_family;
        color: $black_color;
    }
    .ch_text_m{
        font-size: 1.6vw;
        letter-spacing:0.25vw;
        font-family: $title_word_family;
        color: $black_color;
    }
    .ch_text_s{
        font-size: 1.2vw;
        letter-spacing: 0.2vw;
        line-height: 2.4vw;
        font-family: $para_word_family;
        color:$gray_color ;
    }
    
   
    .ch_text_xs{
        font-size: 1.1vw;
        letter-spacing:0.15vw;
        line-height: 1.5vw;
        color: #1b2026;
        font-family: $title_word_family;
        color: $black_color;
    }
   
    .en_text_xl{
        font-size: 2.4vw;
        font-weight: 600;
        letter-spacing: 0.2vw;
        font-family: $title_word_family;
        color: $black_color;
    }
    .en_text_m{
        font-size: 1.8vw;
        font-weight: 450;
        letter-spacing: 0.2vw;
        font-family: $title_word_family;
        color: $black_color;
    }
    .en_text_s{
        font-size: 1vw;
        letter-spacing: 0.1vw;
        font-family: $title_word_family;
        color: $ch_text_xs_color;
    }
    .en_text_xs{
        font-size: 0.95vw;
        letter-spacing: 0.5vw;
        font-family: $title_word_family;
        color: $ch_text_xs_color;
    }
}

.menu{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 2;
    background-color: #fff;
    ul{
        display: flex;
        justify-content: space-between;
        
        li{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            width: 15%;
            padding: 1.6vw 0 0;
            .menu-box{
                .ch_text{
                    text-align: center;
                    font-size: 1.2vw;
                    letter-spacing: 0.3vw;
                    color: #383735;
                    font-family: $title_word_family;
                }
                .en_text{
                    text-align: center;
                    font-size:1vw;
                    color:$gray_color;
                    letter-spacing: 0.2vw;
                    font-family: $title_word_family;
                }
            }
           
        }
        .menu-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1vw;
            width: 17%;
            padding: 0;
            img{
                width: 100%;
            }
        }
    }
  
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#D0D0D0 ;
    height: 8vh;
    position: relative;
    z-index: 15;
    p{
        text-align: center;
        font-size: 1vw;
        letter-spacing: 0.12vw;
        color:#3f3d3e;
    }
}

// for banner title animation
.blind{
    display: inline-block;
    overflow: hidden;
    span{
        display: inline-block; 
    
    }
}
// for banner title animation