@import "config";
@import "index";
@import "about";
@import "blog";
@import "contact";
@import "news";
@import "portfolio";
@import "service";
@import "portfolioInner";
@import "blogInner";
@import "newsInner";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

html,body{
    width: 100%;
    overflow-x: hidden;
    background: url(../img/bg.jpg);
}
p,h1,h2,h3,h4,h5,h6,span{
    text-align: justify;
}