@import "config";
@import "index";
@import "about";
@import "blog";
@import "contact";
@import "news";
@import "portfolio";
@import "service";
@import "portfolioInner";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

html,body{
    width: 100%;
    overflow-x: hidden;
    background: url(../img/bg.jpg);
    background-size: 100% 100%;

}
