
$gray_color: #7d7d7d;
$black_color:#0E121D;
$para_word_family:'Microsoft JhengHei';
$title_word_family:'Noto Serif TC', serif;
$ch_text_xs_color:#363a45;
$blue_color:#224177;
// .cover-blue{
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-image:linear-gradient(45deg,#6390bb 0%,#011b62 100%);
// }
// .cover-blue2{
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-image:linear-gradient(45deg,#6390bb 0%,#011b62 100%);
//     z-index: 10;
// }

.word_level{
    .date{
        font-size:1vw;
        letter-spacing: 0.1vw;
        line-height: 2.4vw;
        font-weight: 600;
        font-family: $para_word_family;
        color:$ch_text_xs_color;
    }
    .ch_text_xl{
        font-size: 2.3vw;
        line-height:3vw;
        letter-spacing: 0.35vw;
        color: $black_color;
        font-family: $title_word_family;
    }
    .ch_text_l{
        font-size: 1.8vw;
        letter-spacing:0.25vw;
        font-weight:500;
        font-family: $title_word_family;
        color: $black_color;
    }
    .ch_text_m{
        font-size: 1.6vw;
        letter-spacing:0.25vw;
        font-family: $title_word_family;
        color: $black_color;
    }
    .ch_text_s{
        font-size: 1.2vw;
        letter-spacing: 0.2vw;
        line-height: 2vw;
        font-family: $para_word_family;
        color:$gray_color ;
    }
    
   
    .ch_text_xs{
        font-size: 1.1vw;
        letter-spacing:0.15vw;
        line-height: 1.5vw;
        color: #1b2026;
        font-family: $title_word_family;
        color: $black_color;
    }
   
    .en_text_xl{
        font-size: 2.4vw;
        font-weight: 600;
        letter-spacing: 0.2vw;
        font-family: $title_word_family;
        color: $black_color;
    }
    .en_text_m{
        font-size: 1.8vw;
        font-weight: 450;
        letter-spacing: 0.2vw;
        font-family: $title_word_family;
        color: $black_color;
    }
    .en_text_s{
        font-size: 1vw;
        letter-spacing: 0.1vw;
        font-family: $title_word_family;
        color: $ch_text_xs_color;
    }
    .en_text_xs{
        font-size: 0.95vw;
        letter-spacing: 0.5vw;
        font-family: $title_word_family;
        color: $ch_text_xs_color;
    }
}

.menu{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 2;

    ul{
        display: flex;
        justify-content: space-between;
        
        li{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            width: 15%;
            padding: 1.6vw 0 0;
            
            .menu-box{
            
                position: relative;
                .ch_text{
                    text-align: center;
                    font-size: 1.2vw;
                    letter-spacing: 0.3vw;
                    color: #383735;
                    font-family: $title_word_family;
                }
                .en_text{
                    text-align: center;
                    font-size:1vw;
                    color:$gray_color;
                    letter-spacing: 0.2vw;
                    font-family: $title_word_family;
                }
                &:after{
                    content: "";
                    display: block;
                    width: 1.5vw;
                    height: 1.5vw;
                    background-image: url(../img/SVG/tree.svg);
                    background-repeat: no-repeat;
                    position: absolute;
                    right: -2vw;
                    top: 0;
                    opacity: 0;
                    transition: 0.5s;
                }
                &:hover::after{
                    opacity: 1;
                    animation: updown 2s linear forwards infinite;
                }

            }
            .menu-portfolio::after{
                right: -1vw;
            }
        }
        .menu-logo{
            display: flex;
            justify-content: flex-end;
            align-items:center;
            overflow: hidden;
            width: 17%;
            padding: 0;
            position: relative;
            img{
                width: 100%;
                margin-bottom: 0.5vw;
            }
            .star{
                animation: shine 1.5s linear forwards infinite;
                margin: 0;
                position: absolute;
                width: 0.6vw;
                left: 33%;
                top: 0.7vw;
            }

            &:hover .star{
               filter: brightness(1.4);
                animation: flowstar 2.5s linear forwards infinite;
            }
        }
    }
  
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#D0D0D0 ;
    height: 8vh;
    position: relative;
    z-index: 15;
    p{
        text-align: center;
        font-size: 1vw;
        letter-spacing: 0.12vw;
        color:#3f3d3e;
    }
}

// for banner title animation
.blind{
    display: inline-block;
    overflow: hidden;
    span{
        display: inline-block; 
    
    }
}
// for banner title animation

.first-page{
    animation: bannerIn 10s linear forwards ;
    overflow: hidden;
    
}
.imgBox{
    position: relative;
    .cover-glowing{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 3;
        mix-blend-mode: overlay;
        &::before{
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
        
        }
        &:hover{
            overflow: hidden;
        }
      
        &:hover::before{
            width: 300%;
            height: 300%;
            animation: glowingImage 2.5s linear forwards infinite;
        
            background: linear-gradient(45deg ,transparent 45%,rgba(255, 255, 255, 0.150) 51.5%, rgba(255, 255, 255, 0.150) 52%,rgba(255, 255, 255, 0.150) 52.5%, transparent 58%);
            bottom:-150% ;
            left: -150%;
            z-index: 10;
            background-repeat: no-repeat;
            pointer-events: none;
        }
    }
}




a{
    width: 12vw;
    .readmore{
        width:12vw;
        p{
            font-size: 1vw;
            letter-spacing: 0.2vw;
            line-height: 2.8vw;
            color: $gray_color;
        }
        &:hover img{
            animation: arrow 2s linear forwards infinite;
        }
        border-bottom: 1px solid #9F9F9F;
    }
}
button{
    cursor: pointer;
    &:hover img{
        animation: arrow 2s linear forwards infinite;
    }
}