.contact{
    width: 100%;
    overflow: hidden;
    .first-page{
        width: 100%;
        height:100vh;
        position: relative;
        &-bg{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &-title{
            width: fit-content;
            position: absolute;
            bottom: 5vw;
            right: 5vw;
            h2{
                color: #fff;
                font-weight: 450;
              
            }
            .imgBox{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -13vw;
                right: 4vw;
                width: 12vw;
                height: fit-content;
                img{
                    top: 0;
                    width: 100%;
                }
                .para{
                    position: absolute;
                    top: 1.5vw;
                    h2,h4{
                        color: #fff;
                        line-height: 2.4vw;
                        text-align: center;
                    }
                    h4{
                        letter-spacing: 0.25vw;
                        font-weight: normal;
          
                    }
                }
             
                
            }
        }
        
    }
    .second-page{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 85%;
        margin: 0 auto;
        height: 50vw;
        &-left{
            padding-top: 10vw;
            flex: 0 0 60%;
            iframe{
                width: 100%;
                height: 34vw;
            }
        }
        &-right{
            padding-top: 9vw;
            flex: 0 0 45%;
            height: 80%;
       
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                margin: 0 auto;
                height: 100%;
                .second-page-right-titel{
                    width: 100%;
                    margin-left: 1.5vw;
                }
                .form-box{
                    display: flex;
                    align-items: center;
                    width: 95%;
                    p{
                        flex: 0 0 20%;
                    }
                    input{
                        flex: 0 0 65%;
                        border: none;
                        border-bottom: 1px solid $gray_color;
                        outline: none;
                        padding: 1vw 1vw;
                        font-size: 1.3vw;
                        color: $gray_color;
                    }
                    textarea{
                        flex: 0 0 65%;
                        padding: 1vw 1vw;
                        font-size: 1.3vw;
                        color: $gray_color;
                        border: none;
                           border-bottom: 1px solid $gray_color;
                           outline: none;
                    }
                    
                }
                > input{
                    margin-top: 4vw;
                    font-size: 1vw;
                    color: $gray_color;
                    background-color: transparent;
                    padding: 0.2vw 4vw;
                    border: 1px solid $blue_color;
                    
                }
            }
        }
       
    }
   
}
@media all and (max-width:1380px){
    .contact{
        .first-page{
          height: 75vw;
         
        &-title{
            width:fit-content;
            position: absolute;
            bottom: 8.5vw;
  
            z-index: 10;
            h2{
                color: #fff;
                font-weight: 450;
               
               
            }
           
        }
        }
    }
    @media all and (max-width:1024px){
        .contact{
            .first-page{
                width: 100%;
                height:80vw;
                position: relative;
       
         
                &-title{
                    width: fit-content;
                    position: absolute;
                    bottom: 15vw;
                    right: 2.5vw;
                    h2{
                        color: #fff;
                        font-weight: 450;
                     
                    }
                
                    .imgBox{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: -28vw;
                        right: 4vw;
                        width: 25vw;
                        height: fit-content;
                        img{
                            top: 0;
                            width: 100%;
                        }
                        .para{
                            position: absolute;
                            top: 3vw;
                            h2,h4{
                                color: #fff;
                                line-height: 5vw;
                                text-align: center;
                            }
                            h4{
                                letter-spacing: 0.4vw;
                                font-weight: normal;
                              
                            }
                        }
                     
                        
                    }
                }
                
            }
            .second-page{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 85%;
                margin: 0 auto 10vw;
                height:fit-content;
                &-left{
                    width: 100%;
                    padding-top: 10vw;
                    
                    iframe{
                        width: 100%;
                        height: 55vw;
                    }
                }
                &-right{
                    padding-top: 9vw;
                    width: 100%;
                    height:fit-content;
                    
                    form{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin: 0 auto;
                        height: 100%;
                        .second-page-right-titel{
                            width: 100%;
                            margin: 0 0 5vw;
                        }
                        .form-box{
                            display: flex;
                           
                            width: 100%;
                            justify-content: space-between;
                            margin-bottom: 5vw;
                            p{
                                flex: 0 0 20%;
                          
                            }
                            input{
                                flex: 0 0 80%;
                                border: none;
                                border-bottom: 1px solid $gray_color;
                                outline: none;
                                padding: 1vw 1vw;
                                font-size: 4.5vw;
                                color: $gray_color;
                              
                            }
                            textarea{
                                flex: 0 0 80%;
                                padding: 1vw 1vw;
                                font-size: 4.5vw;
                                color: $gray_color;
                                margin-bottom: 5vw;
                                border: none;
                                   border-bottom: 1px solid $gray_color;
                                   outline: none;
                            }
                            
                        }
                        > input{
                            margin-top: 4vw;
                            font-size: 2.7vw;
                            color: $gray_color;
                            background-color: transparent;
                            padding: 1vw 6vw;
                            margin: 0;
                            border: 1px solid $gray_color;
                        }
                    }
                }
               
            }
        }
        @media all and (max-width:920px){
            .contact{
                .first-page{
                    width: 100%;
                    height:150vw;
                    position: relative;
           
             
                    &-title{
                        width: fit-content;
                        position: absolute;
                        bottom: 35vw;
                        right: 2.5vw;
                        h2{
                            color: #fff;
                            font-weight: 450;
                         
                        }
                    
                        .imgBox{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: -28vw;
                            right: 4vw;
                            width: 25vw;
                            height: fit-content;
                            img{
                                top: 0;
                                width: 100%;
                            }
                            .para{
                                position: absolute;
                                top: 3vw;
                                h2,h4{
                                    color: #fff;
                                    line-height: 5vw;
                                    text-align: center;
                                }
                                h4{
                                    letter-spacing: 0.4vw;
                                    font-weight: normal;
                                  
                                }
                            }
                         
                            
                        }
                    }
                    
                }
              
            }
            @media all and (max-width:480px){
                .contact{
                    .first-page{
                        width: 100%;
                        height:190vw;
                        position: relative;
               
                 
                        &-title{
                            width: fit-content;
                            position: absolute;
                            bottom: 25vw;
                            right: 2.5vw;
                          
                            .imgBox{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                top: -40vw;
                                right: 4vw;
                                width: 35vw;
                                height: fit-content;
                                img{
                                    top: 0;
                                    width: 100%;
                                }
                                .para{
                                    top: 5vw;
                                    position: absolute;
                              
                                    h2,h4{
                                        color: #fff;
                                        line-height: 7vw;
                                        text-align: center;
                                    }
                                    h4{
                                        letter-spacing: 0.4vw;
                                        font-weight: normal;
                                      
                                    }
                                }
                             
                                
                            }
                        }
                        
                    }
                    .second-page{
                     
                        &-right{

                            form{
                           
                                .form-box{
                                    display: flex;
                                   
                                    width: 100%;
                                    justify-content: space-between;
                                    margin-bottom: 5vw;
                                    p{
                                        flex: 0 0 25%;
                                  
                                    }
                                    input{
                                        flex: 0 0 75%;
                                        border: none;
                                        border-bottom: 1px solid $gray_color;
                                        outline: none;
                                        padding: 1vw 1vw;
                                        font-size: 4.5vw;
                                        color: $gray_color;
                                      
                                    }
                                    textarea{
                                        flex: 0 0 75%;
                                        padding: 1vw 1vw;
                                        font-size: 4.5vw;
                                        color: $gray_color;
                                        margin-bottom: 5vw;
                                        border: none;
                                           border-bottom: 1px solid $gray_color;
                                           outline: none;
                                    }
                                    
                                }
                                > input{
                                    margin-top: 4vw;
                                    font-size: 4vw;
                                    color: $gray_color;
                                    background-color: transparent;
                                    padding: 2vw 12vw;
                                    margin: 0;
                                    border: 1px solid $gray_color;
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }
}